h1{
    text-align: center;
}

p{
    text-transform: uppercase;
    font-family: Times New Roman;
}

#ss1{
    font-size: 34px;
}
#ss2{
    font-size: 25px;
}

p2{
    font-size: 23px;
    line-height: 20px;
    
}

p3{
    font-size: 16px;
}